#layout-body .control-toolbar {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 15px 20px;
}

.projects {
  padding: 10px 10px;
  position: relative;
}
.loading-overlay {
  background-color: rgba(0,0,0,.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 30;
  display: none;
}
.projects .no-projects {
  text-align: center;
  display: inline-block;
  color: #aaa;
  font-size: 18px;
  margin-top: 25px;
  line-height: 22px;
  padding: 15px 25px 10px;
  border: 2px dashed #ddd;
  position: relative;
  left: 50%;

  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.projects .project {
  background-color: #fff;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  border: 1px solid #ddd;
  padding: 20px;
  height: 150px;
  width: 300px;
  position: relative;
}

.projects .project h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.projects .project h3 a {
  color: #111;
}
.projects .project p {
  height: 65px;
  color: #555;
  font-style: italic;
  padding-top: 5px;
}
.projects .project .menu {
  float: right;
  position: relative;
  top: -20px;
  right: -20px;
}
.projects .project .menu > a {
  position: relative;
  z-index: 10;
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 30px;
  height: 30px;
  font-size: 13px;
  line-height: 30px;
  color: #999;
  text-align: center;
  display: inline-block;
}
.projects .project .menu.open > a {
  border-bottom-color: #fff;
}
.projects .project .menu:not(.open) > a:hover {
  background-color: #fafafa;
}
.projects .project .menu > a i:before {
  margin: 0;
}
.projects .project .menu .dropdown-menu {
  min-width: 100px;
  z-index: 9;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
  margin-top: -1px;
  margin-right: -1px;
}
.projects .project .menu .dropdown-menu a {
  font-size: 12px;
  padding: 5px 15px;
}
.projects .project .created,
.projects .project .updated {
  font-size: 12px;
}

.modal-footer .loading {
  display: inline-block;
  width: 35px;
  height: 35px;
  overflow: hidden;
  vertical-align: bottom;
}
.modal-footer .loading .loading-indicator-container {
  display: none;
}

.tasks-groups {
  height: calc(100% - 64px);
  padding: 0 20px 20px;
}

.tasks-group {
  width: 300px;
  margin: 20px 10px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  background-color: #ecf0f1;
}

.tasks-group-header {
  position: relative;
}
.tasks-group-header h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  padding: 13px 15px 10px;
}
.tasks-group-header .menu {
  position: absolute;
  right: 0;
  top: 0;
}
.tasks-group-header .menu > a {
  line-height: 40px;
  width: 30px;
  color: #bbb;
  display: block;
  text-align: center;
}
.tasks-group:hover .tasks-group-header .menu > a {
  color: #888;
}
.tasks-group-header .menu > a:hover {
  color: #555 !important;
}
.tasks-group-content {
  border-top: 1px solid #e0e0e0;
  padding: 10px;
  position: relative;
}
.tasks-group-content-empty {
  height: 70px;
}

.task {
  border: 1px solid #e0e0e0;
  background-color: #fff;
  border-radius: 5px;
}
.task.task-placeholder,
.task-placeholder-empty {
  background-color: rgba(0,0,0,0.025);
  color: transparent;
  border: 1px dashed #ccc;
}
.tasks-group-content-empty .task.task-placeholder {
  background-color: rgba(255,255,255,0.7);
  border: 0;
  height: 48px;
  top: 11px !important;
  position: absolute;
  left: 11px !important;
  width: calc(100% - 22px);
}
.task-placeholder-empty {
  height: 50px;
  position: absolute;
  width: calc(100% - 20px);
  top: 10px;
  left: 10px;
}
.task + .task:not(.task-placeholder-empty) {
  margin-top: 10px;
}
.task h4 {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  padding: 10px 10px 8px;
}
.task h4 strong {
  margin-right: 5px;
}
